---
import { initSwell, initTheme } from '@/swell';
import {
  removeCircularReferences,
  resolveAsyncResources,
} from '@swell/apps-sdk';
import EasyblocksEditor from '@/components/EasyblocksEditor.tsx';

// Editor requires rootTemplate param
if (!Astro.url.searchParams.get('rootTemplate')) {
  return Astro.redirect(`/editor?rootTemplate=swell_page`);
}

const swell = await initSwell(Astro);
const theme = initTheme(swell);

const { pageId = 'index', pageRoute = '/' } = swell.queryParams;

await theme.initGlobals(pageId);

const sectionGroup = (await theme.renderPageTemplate(pageId)) as unknown;

if (!sectionGroup) {
  return Astro.redirect(`/404`);
}

let [allSections, pageSections, layoutSectionGroups] = await Promise.all([
  theme.getAllSections(),
  theme.getPageSections(sectionGroup),
  theme.getLayoutSectionGroups(),
]);

pageSections = await resolveAsyncResources(pageSections);
layoutSectionGroups = await resolveAsyncResources(layoutSectionGroups);

allSections = removeCircularReferences(allSections);
pageSections = removeCircularReferences(pageSections);
layoutSectionGroups = removeCircularReferences(layoutSectionGroups);
---

<html lang="en">
  <head>
    <title>Swell Theme Editor</title>
  </head>
  <body style={{ margin: 0, padding: 0 }}>
    {
      (
        <EasyblocksEditor
          pageId={pageId}
          pageRoute={pageRoute}
          allSections={allSections}
          pageSections={pageSections}
          layoutSectionGroups={layoutSectionGroups}
          themeGlobals={theme.globals}
          client:only="react"
        />
      )
    }
  </body>
</html>
