---
import { Swell } from "../swell/api";
import EasyblocksEditor from "../components/EasyblocksEditor.jsx";
import { getThemeConfig, getThemeSectionConfigs } from "../swell/easyblocks";
import { getSectionGroupConfigs, getPageSections, getLayoutSectionGroups } from "../swell/utils";

const initialPageId = "index";

// Editor requires rootComponent param
if (!Astro.url.searchParams.get("rootTemplate")) {
  return Astro.redirect(`/editor?rootTemplate=page_${initialPageId}`);
}

const swell = new Swell({ Astro });

const [sectionGroup, allSections] = await Promise.all([
  getThemeConfig(swell, `pages/${initialPageId}`),
  getThemeSectionConfigs(swell),
]);

if (!sectionGroup) {
  return Astro.redirect(`/404`);
}

const [sectionConfigs, pageSections, layoutSectionGroups] = await Promise.all([
  getSectionGroupConfigs(sectionGroup, (type) =>
    getThemeConfig(swell, `sections/${type}`).then(
      (config: any) => config as ThemeSectionSchema || undefined
    )
  ),
  getPageSections(allSections),
  getLayoutSectionGroups(allSections)
]);

const editorLang = await getThemeConfig(swell, `config/language-editor`);
---

<html lang="en">
  <head>
    <title>Swell Theme Editor</title>
  </head>
  <body style={{ margin: 0, padding: 0 }}>
    {
      (
        <EasyblocksEditor
          pageId={initialPageId}
          pageSections={pageSections}
          layoutSectionGroups={layoutSectionGroups}
          sectionConfigs={sectionConfigs}
          sectionConfigs={sectionConfigs}
          lang={editorLang}
          client:only="react"
        />
      )
    }
  </body>
</html>
