---
import { Swell } from '@/swell/api';
import { SwellTheme } from '@/swell/theme';
import EasyblocksEditor from '@/components/EasyblocksEditor.jsx';
import { getThemeConfig } from '@/swell/easyblocks';

const initialPageId = 'index';

// Editor requires rootComponent param
if (!Astro.url.searchParams.get('rootTemplate')) {
  return Astro.redirect(`/editor?rootTemplate=page_${initialPageId}`);
}

const swell = new Swell({ Astro });
const theme = new SwellTheme(swell);

await theme.init(Astro);

const sectionGroup = getThemeConfig(
  swell,
  `pages/${initialPageId}`
) as unknown as ThemeSectionGroup;

if (!sectionGroup) {
  return Astro.redirect(`/404`);
}

const [sectionConfigs, pageSections, layoutSectionGroups] = await Promise.all([
  theme.getSectionGroupConfigs(sectionGroup),
  theme.getPageSections(),
  theme.getLayoutSectionGroups(),
]);

const editorLang = await getThemeConfig(swell, `config/language-editor`);
---

<html lang="en">
  <head>
    <title>Swell Theme Editor</title>
  </head>
  <body style={{ margin: 0, padding: 0 }}>
    {
      (
        <EasyblocksEditor
          pageId={initialPageId}
          pageSections={pageSections}
          layoutSectionGroups={layoutSectionGroups}
          sectionConfigs={sectionConfigs}
          lang={editorLang}
          client:only="react"
        />
      )
    }
  </body>
</html>
